{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dash - macske</title>
    <link rel="stylesheet" href="{% static 'index.css' %}">
    <link rel="stylesheet" href="{% static 'dash.css' %}">
    <link rel="stylesheet" href="{% static 'catdetections.css' %}">
    <link rel="stylesheet" href="{% static 'streams.css' %}">
</head>

<body>
    {% include 'blocks/header.html' %}
    <nav class="dash-nav">
        <a href="/dash/catdetections/">Cat detections</a>
        <span class="sep"></span>
        <a href="/dash/streams/">Streams</a>
    </nav>
    <main>
        <h1>Dash Home</h1>
        <h2>Recent Cat Detections</h2>
        <div id="recent_cds">
            {% for cd in recent_cds %}
            <div class="cat_detection">
                <img src="{{ cd.frame_file.url }}" alt="" class="cat_image">
                <a href="/dash/catdetections/{{ cd.id }}/">View</a>
            </div>
            {% endfor %}
        </div>
        <h2>Recent Streams</h2>
        <div id="recent_streams">
            {% for s in recent_streams %}
            <div class="stream">
                <span class="id">#{{ s.id }}</span>
                <span class="started">{{ s.started|date:"Y-m-d H:i:s" }}</span>
                -
                <span class="stopped">{{ s.stopped|date:"Y-m-d H:i:s" }}</span>
                <a href="/dash/streams/{{ s.id }}/">Details</a>
            </div>
            {% endfor %}
        </div>
    </main>
    {% include 'blocks/footer.html' %}
</body>

</html>