.cat_image {
  width: 250px;
}
#cat_detections_container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  height: 100%;
  overflow-y: auto;
  justify-content: center;
}
img {
  max-width: calc(100vw - 10px);
  max-height: calc(100vh - 50px - 40px - 40px);
  margin-top: 25px;
}
.cat_detection {
  display: flex;
  flex-direction: column;
  background-color: grey;
  padding: 10px 10px 0px 10px;
}
.cat_detection img {
  margin: unset;
}
.cat_detection a {
  background-color: unset !important;
}