header {
    height: 50px;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#logout-form {
    display: inline-flex;
}
#logout-form button {
    background-color: transparent;
    border: none;
    color: cyan;
    cursor: pointer;
    font-size: 1em;
    transition: 0.1s;
    padding: 0;
}
#logout-form button:hover {
    color: darkcyan;
}