@font-face {
    font-family: Lexend;
    src: url('/static/Lexend-VariableFont_wght.ttf') format('truetype');
}
* {
    margin: 0;
    padding: 0;
    font-family: Lexend, sans-serif;
    box-sizing: border-box;
}
body {
    background-color: black;
    color: white;
}
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
a {
    color: cyan;
    text-decoration: none;
    transition: 0.1s;
}
a:hover {
    color: darkcyan;
}

main {
    height: calc(100vh - 50px - 40px);
}
main a {
    display: flex;
    padding: 10px 20px;
    border-radius: 10px;
    color: white;
    justify-content: center;
    min-width: 200px;
}
main a:nth-child(1) {
    background-color: blueviolet;
}
main a:nth-child(1):hover {
    background-color: indigo;
}
main a:nth-child(2) {
    background-color: limegreen;
}
main a:nth-child(2):hover {
    background-color: green;
}
main a:hover {
    color: whitesmoke;
}
#button-group {
    display: flex;
    gap: 20px;
    margin-top: 20px;
}
.sep::before {
    content: "•";
    margin: 0px 5px;
    text-decoration: none;
}
a[target="_blank"]::after {
    content: "◥";
    font-size: 10px;
    display: inline-flex;
    align-items: center;
    position: relative;
    top: -5px;
    left: -3px;
}
button {
    display: inline-flex;
    border: none;
    background-color: transparent;
    color: white;
    font-size: 15px;
    padding: 10px 20px;
    border-radius: 10px;
    transition: 0.1s;
}
button:hover {
    cursor: pointer;
    color: whitesmoke;
}
input[type="number"] {
    display: inline-flex;
    font-size: 15px;
    border-radius: 10px;
    border: 2px solid white;
    background-color: black;
    color: white;
    padding: 10px 20px;
    box-sizing: border-box;
    /* text-align: center; */
    justify-content: space-between;
    width: fit-content;
}
*[hidden=""] {
    display: none;
}
*[hidden="false"] {
    display: unset;
}