main {
    align-items: center;
    justify-content: center;
    padding: 20px;
    gap: 20px;
}
#video_stream {
    border: 2px solid white;
    border-radius: 10px;
}
#button_bar[x-status="disconnected"] #pulse {
    background-color: red;
}
#button_bar[x-status="connected"] #pulse{
    background-color: limegreen;
}
#button_bar[x-status="recording"] #pulse {
    background-color: orange;
}
button {
    background-color: rgb(32, 32, 32);
    border-radius: unset;
    border-bottom-left-radius: 10px !important;
    border-top-left-radius: 10px !important;
    border-inline-end: 2px solid white;
}
#status {
    display: flex;
}
#pulse {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
#button_bar {
    display: flex;
    flex-direction: row;
}